.checkoutPage{
background-color: lightgray;
display: flex;
gap: 5rem;
}
.checkoutBox{
    background-color: white;
    width: 20rem;
    margin-top: 5rem;
    border: 1px solid white;
    margin-bottom: 5rem;
}
.checkoutsubbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: lightgray .5rem solid;
}
.checkoutBox button{
    width: 100%;
    padding: .8rem;
    background-color: red;
    color: white;

}
.quanity{
    font-size: 1.2rem;
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.checkoutBox button:hover{
    background-color: darkred;
}
.cartGrid{
    display: grid;
    grid-template-columns: repeat(4,auto);

    grid-template-rows: 3rem auto;
    grid-auto-rows: auto;
    row-gap: .2rem;
    align-items: stretch;
    width: 50%;
    margin-left: 10rem;
    margin: 5rem;
    background-color: lightgray;

}
.cartItem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.removeItemIMG{
    width: 1rem;
    height: auto;
}
.productHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}
.productImage{
    width: 8rem;
    height: auto;
}